In [1]:
PATH_TO_DATA = 'input/Hotel_Reviews.csv'

In [2]:
# some necessary imports
import os
import numpy as np
import pandas as pd
import nltk
from nltk.corpus import stopwords
from nltk.stem import SnowballStemmer
# Utility
import re
from collections import Counter
import logging
import time
import pickle
import itertools
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/liyuantan/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [3]:
# DATASET
DATASET_ENCODING = "ISO-8859-1"

# TEXT CLENAING
TEXT_CLEANING_RE = "[^A-Za-z0-9]+"

stop_words = stopwords.words("english")
stemmer = SnowballStemmer("english")

train_df = pd.read_csv(PATH_TO_DATA, encoding =DATASET_ENCODING)

In [4]:
def preprocess(text, stem=False):
    # Remove link,user and special characters
    text = re.sub(TEXT_CLEANING_RE, ' ', str(text).lower()).strip()
    tokens = []
    for token in text.split():
        if token not in stop_words:
            if stem:
                tokens.append(stemmer.stem(token))
            else:
                tokens.append(token)
    return " ".join(tokens)

In [5]:
train_df.head()

,Hotel_Address,Additional_Number_of_Scoring,Review_Date,Average_Score,Hotel_Name,Reviewer_Nationality,Negative_Review,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Positive_Review,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews_Reviewer_Has_Given,Reviewer_Score,Tags,days_since_review,lat,lng
0,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Russia,I am so angry that i made this post available...,397,1403,Only the park outside of the hotel was beauti...,11,7,2.9,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968
1,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Ireland,No Negative,0,1403,No real complaints the hotel was great great ...,105,7,7.5,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968
2,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,Australia,Rooms are nice but for elderly a bit difficul...,42,1403,Location was good and staff were ok It is cut...,21,9,7.1,"[' Leisure trip ', ' Family with young childre...",3 days,52.360576,4.915968
3,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,United Kingdom,My room was dirty and I was afraid to walk ba...,210,1403,Great location in nice surroundings the bar a...,26,1,3.8,"[' Leisure trip ', ' Solo traveler ', ' Duplex...",3 days,52.360576,4.915968
4,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/24/2017,7.7,Hotel Arena,New Zealand,You When I booked with your company on line y...,140,1403,Amazing location and building Romantic setting,8,3,6.7,"[' Leisure trip ', ' Couple ', ' Suite ', ' St...",10 days,52.360576,4.915968

In [6]:
df = train_df[['Negative_Review', 'Positive_Review']]
df.head()

,Negative_Review,Positive_Review
0,I am so angry that i made this post available...,Only the park outside of the hotel was beauti...
1,No Negative,No real complaints the hotel was great great ...
2,Rooms are nice but for elderly a bit difficul...,Location was good and staff were ok It is cut...
3,My room was dirty and I was afraid to walk ba...,Great location in nice surroundings the bar a...
4,You When I booked with your company on line y...,Amazing location and building Romantic setting

In [7]:
%%time
df.Negative_Review = df.Negative_Review.apply(lambda x: preprocess(x))

CPU times: user 19.4 s, sys: 38 ms, total: 19.5 s
Wall time: 19.5 s

/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [8]:
%%time
df.Positive_Review = df.Positive_Review.apply(lambda x: preprocess(x))

CPU times: user 18.8 s, sys: 41.8 ms, total: 18.9 s
Wall time: 18.9 s

/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [9]:
df.describe()

       Negative_Review Positive_Review
count           515738          515738
unique          310003          383364
top           negative        positive
freq            127890           35946

In [10]:
texts = []
labels = []
texts_test = []
labels_test = []
for i in range (60000):
    if df.Negative_Review[i+10000] != "negative":
        texts.append(df.Negative_Review[i+10000])
        labels.append(0)
for i in range (60000):
    if df.Positive_Review[i+10000] != "positive":
        texts.append(df.Positive_Review[i+10000])
        labels.append(1)
for i in range (6000):
    if df.Negative_Review[i] != "negative":
        texts_test.append(df.Negative_Review[i])
        labels_test.append(0)
for i in range (6000):
    if df.Positive_Review[i] != "positive":
        texts_test.append(df.Positive_Review[i])
        labels_test.append(1)

In [11]:
print (len(texts))
print (len(labels))
print (len(texts_test))
print (len(labels_test))

100802
100802
10188
10188

In [12]:
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences
import numpy as np

maxlen = 20  # We will cut reviews after 100 words
max_words = 5000  # We will only consider the top 10,000 words in the dataset

tokenizer = Tokenizer(num_words=max_words)  # https://keras.io/preprocessing/text/
tokenizer.fit_on_texts(texts)
sequences = tokenizer.texts_to_sequences(texts)  # This turns strings into lists of integer indices.

word_index = tokenizer.word_index
print('Found %s unique tokens.' % len(word_index))

/anaconda3/lib/python3.6/site-packages/h5py/__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

Found 24843 unique tokens.

In [13]:
d = 0
for i in range (len(sequences)):
    if len(sequences[i-d]) == 0:
        del sequences[i-d]
        del labels[i-d]
        d = d+1

In [14]:
data = pad_sequences(sequences, maxlen=maxlen)

labels = np.asarray(labels)
print('Shape of data tensor:', data.shape)
print('Shape of label tensor:', labels.shape)

# Split the data into a training set and a validation set
# But first, shuffle the data, since we started from data
# where sample are ordered (all negative first, then all positive).
indices = np.arange(data.shape[0])
np.random.shuffle(indices)
data = data[indices]
labels = labels[indices]

Shape of data tensor: (100357, 20)
Shape of label tensor: (100357,)

In [15]:
from keras.models import Sequential
from keras.layers import Embedding, LSTM, Dense

model = Sequential()
model.add(Embedding(max_words, 64, input_length=maxlen))
model.add(LSTM(64,
              dropout=0.3,
              recurrent_dropout=0.3))
model.add(Dense(1, activation='sigmoid'))
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_1 (Embedding)      (None, 20, 64)            320000
_________________________________________________________________
lstm_1 (LSTM)                (None, 64)                33024
_________________________________________________________________
dense_1 (Dense)              (None, 1)                 65
=================================================================
Total params: 353,089
Trainable params: 353,089
Non-trainable params: 0
_________________________________________________________________

In [16]:
model.compile(optimizer='rmsprop',
              loss='binary_crossentropy',
              metrics=['acc'])
history = model.fit(data, labels,
                    epochs=10,
                    batch_size=128,
                    validation_split = 2/9)
model.save_weights('lstm_hotel_validate.h5')

Train on 78055 samples, validate on 22302 samples
Epoch 1/10
78055/78055 [==============================] - 24s 302us/step - loss: 0.2560 - acc: 0.8998 - val_loss: 0.2061 - val_acc: 0.9244
Epoch 2/10
78055/78055 [==============================] - 21s 272us/step - loss: 0.1948 - acc: 0.9290 - val_loss: 0.2034 - val_acc: 0.9267
Epoch 3/10
78055/78055 [==============================] - 21s 273us/step - loss: 0.1876 - acc: 0.9312 - val_loss: 0.1985 - val_acc: 0.9279
Epoch 4/10
78055/78055 [==============================] - 22s 276us/step - loss: 0.1825 - acc: 0.9334 - val_loss: 0.1953 - val_acc: 0.9291
Epoch 5/10
78055/78055 [==============================] - 21s 275us/step - loss: 0.1783 - acc: 0.9344 - val_loss: 0.1932 - val_acc: 0.9290
Epoch 6/10
78055/78055 [==============================] - 22s 276us/step - loss: 0.1744 - acc: 0.9361 - val_loss: 0.1922 - val_acc: 0.9301
Epoch 7/10
78055/78055 [==============================] - 21s 275us/step - loss: 0.1701 - acc: 0.9379 - val_loss: 0.1933 - val_acc: 0.9298
Epoch 8/10
78055/78055 [==============================] - 21s 275us/step - loss: 0.1671 - acc: 0.9388 - val_loss: 0.1917 - val_acc: 0.9307
Epoch 9/10
78055/78055 [==============================] - 23s 290us/step - loss: 0.1642 - acc: 0.9404 - val_loss: 0.1916 - val_acc: 0.9303
Epoch 10/10
78055/78055 [==============================] - 23s 294us/step - loss: 0.1622 - acc: 0.9409 - val_loss: 0.1943 - val_acc: 0.9292